{% extends "base.html" %}
{% load humanize %}
{% load filters %}

{% block content %}
<div class="row">
    <div class="col-md-8"><!-- breacrumbs --> </div>
</div>

<div class="row">
    <div class="col-md-8">
        <h1>Skill</h1><a href="{% url 'skill_create_url' %}" style="float:left">Post a new skill</a>
    </div>
    {% include "skills/skill_search.html" %}
</div>

<div class="row">
    
    <!-- sidebar -->
    {% if facets %}
    <div class="well sidebar-nav col-md-2" />
    <p><b>Search Options</b></p>
    <hr>

    <div>
        <dl>
            {% if facets.fields.category %}
            <dt class="nav-header">Category</dt>
            {# Provide only the top 5 categories #}
            {% for category in facets.fields.category|slice:":5" %}
            <dd><a href="?q={{ query }}&amp;selected_facets=category_exact:{{ category.0|urlencode }}">{{ category.0 }}</a> ({{ category.1 }})</dd>
            {% endfor %}
            {% else %}
            <p>No category facets.</p>
            {% endif %}
        </dl>
    </div>
    
</div>
{% endif %}

<!-- main content -->
<div class="col-md-10">
    <div class="row">

        {% if query or page.object_list%}
        {% if query %}
        <h3>Results</h3>
        {% endif %}

        {% for skill in page.object_list %}
        {% skill_badge skill.object %}
        {% empty %}
        <p>No results found.</p>
        {% endfor %}

        {% if page.has_previous or page.has_next %}
        <div>
            {% if page.has_previous %}<a href="?q={{ query }}&amp;page={{ page.previous_page_number }}">{% endif %}&laquo; Previous{% if page.has_previous %}</a>{% endif %}
            |
            {% if page.has_next %}<a href="?q={{ query }}&amp;page={{ page.next_page_number }}">{% endif %}Next &raquo;{% if page.has_next %}</a>{% endif %}
        </div>
        {% endif %}
        {% else %}
        
        {% endif %}

        
    </div>      
</div>
</div>


<div class="clearfix"></div>
{% endblock %}