{% load avatar_tags %}
<div class="col-md-6">
    <div class="panel panel-default">
      <div class="panel-heading">
        <h3 class="panel-title">{{ skill.member.user.get_full_name }}</h3>
        </div>
        <div class="panel-body">
            <div class="row">
                <div class="col-xs-2">
                <img src="{% avatar_url skill.member.user 40 %}"></img></div>
                <div class="col-xs-6"><h4>{{ skill.category }}</h4></div>
            </div>

            <div class="row" style="margin-top:10px; margin-bottom:10px;">
                <div class="col-xs-12" style="height:80px;overflow:hidden">
                    {{ skill.description }}
                </div>
            </div>
            <div class="row">
                <div class="col-xs-12" style="text-align:right">
                    <a href="{{ skill.get_absolute_url }}" class="btn btn-default">Details</a>
                </div>
            </div>
        </div>
    </div>
</div>