{% extends "base.html" %}
{% load filters %}
{% load avatar_tags %}

{% block content %}

{% if form.errors %}
<p>Your username and password didn't match. Please try again.</p>
{% endif %}

{% csrf_token %}


<script>
$(function(){

    {% if signup_mode == member.MODE_FREELANCER %}
        $('#skill_modal').modal();
    {% elif signup_mode == member.MODE_POSTER %}
        $('#offer_modal').modal();
    {% endif %}

});
</script>
{% include "skills/prompt_popup.html" %}
{% include "offers/prompt_popup.html" %}

<div class="row">
    <div class="col-md-8"><!-- breadcrumbs --> </div>
</div>
<div class="row">
    <div class="col-md-8">
        <h1>
            {{member.user.get_full_name}}
        </h1>
    </div>
</div>

<div class="row">
    <div class="col-md-1">
       <a href="{% url 'avatar_change' %}">{% avatar user %}</a>
    </div>

    <div class="col-md-8">
        <h3>General Information {% if user|can_edit_profile:member %}<a href="{% url 'member_update_url' %}" class="btn btn-primary">Edit Profile</a></h3>{% endif %}
        Network: {{member.domain}}<br />
        Email: {{member.user.email}}<br />
        <h3>About</h3>
        <p>{{ member.about }}</p>
        <h3>Skills {% if user|can_edit_profile:member %}<a href="{% url 'skill_create_url' %}" class="btn btn-primary">Add a New Skill</a>{% endif %}</h3>
        
            {% for skill in member.skill_set.all %}
                <p><a href="{{ skill.get_absolute_url }}">{{skill.category}}</a></p>
                {% empty %}
                {% if user|can_edit_profile:member %}<p>You do not have a skill! Would you like to <a href="{% url 'skill_create_url' %}">Add a New Skill</a>?</p>{% endif %}
            {% endfor %}
        <h3>Offers {% if user|can_edit_profile:member %}<a href="{% url 'offer_create_url' %}" class="btn btn-primary">Add a New Offer</a>{% endif %}</h3>
            {% for offer in member.offer_set.all %}
                <p><a href="{{ offer.get_absolute_url }}">{{offer.category}}</a></p>
                {% empty %}
                {% if user|can_edit_profile:member %}<p>You do not have an offer! Would you like to <a href="{% url 'skill_create_url' %}">Create a New Offer</a>?</p>{% endif %}
            {% endfor %}  

            <h3>Tags related to person</h3>
		{% for tag in member.tags_set.all %}
            <p>tag.name</p>
        {% endfor %}
    </div>
</div>


<div class="clearfix"></div>




{% endblock %}