{% extends "base.html" %}
{% load filters %}
{% load avatar_tags %}

{% block content %}

{% if form.errors %}
<p>Your username and password didn't match. Please try again.</p>
{% endif %}

{% csrf_token %}


<script>
$(function(){

    {% if signup_mode == member.MODE_FREELANCER %}
    $('#skill_modal').modal();
    {% elif signup_mode == member.MODE_POSTER %}
    $('#offer_modal').modal();
    {% endif %}

});
</script>
{% include "skills/prompt_popup.html" %}
{% include "offers/prompt_popup.html" %}

<div class="row">
    <div class="col-md-8"><!-- breadcrumbs --> </div>
</div>
<div class="row">
    <div class="col-md-8">
        <h1>
            {{member.user.get_full_name}}
        </h1>
    </div>
</div>

<div class="row">
    <div class="col-sm-3">
     <a href="{% url 'avatar_change' %}"><img width="100%" src="{% avatar_url user 300 %}"></img></a>
 </div>

 <div class="col-sm-9">

    <div class="well"><h3>About Me</h3>
        <p>{{ member.about }}</p></div>
        <h3>General Information </h3>
        Network: {{member.domain}}<br />
        Email: {{member.user.email}}<br />
        {% if user|can_edit_profile:member %}<a href="{% url 'member_update_url' %}" class="btn btn-primary">Edit Profile</a>{% endif %}

        <h3>Skills</h3>
        
        {% for skill in member.skill_set.all %}
        {% skill_minibadge skill %}
        {% empty %}
        {% if user|can_edit_profile:member %}<p>You do not have any skills listed!</p>{% endif %}
        {% endfor %}
        <div class="clearfix"></div> 
        {% if user|can_edit_profile:member %}<a href="{% url 'skill_create_url' %}" class="btn btn-orange">Add a New Skill</a>{% endif %}
        <h3>Offers </h3>
        {% for offer in member.offer_set.all %}
        {% offer_minibadge offer %}
        {% empty %}
        {% if user|can_edit_profile:member %}<p>You do not have any offers listed!</p>{% endif %}
        {% endfor %}  

        <div class="clearfix"></div> 
        {% if user|can_edit_profile:member %}<a href="{% url 'offer_create_url' %}" class="btn btn-blue">Add a New Offer</a>{% endif %}
        <h3>Related Tags</h3>
        {% for tag in member.get_tags %}
        <p><a href="{{tag.get_skill_url}}">{{tag.name}}</a></p>
        {% endfor %}
    </div>
</div>


<div class="clearfix"></div>




{% endblock %}