{% extends "base.html" %}

{% block content %}

{% if form.errors %}
<p>Your username and password didn't match. Please try again.</p>
{% endif %}

{% csrf_token %}

<div class="row">
    <div class="col-md-8"><!-- breadcrumbs --> </div>
</div>
<div class="row">
    <div class="col-md-8">
        <h1>
            {{member.user.get_full_name}}
        </h1>
    </div>
</div>

<div class="row">
    <div class="col-md-4">
       <img src="{{MEDIA_URL}}{{member.avatar}}" alt="{{member.user.get_full_name}}'s Profile Picture
       " class="img-thumbnail" />
    </div>

    <div class="col-md-6">
        <h3>General Information <a href="{% url 'profile_update_url' %}" class="btn btn-primary">Edit Profile</a></h3>
        Network: {{member.domain}}<br />
        Email: {{member.user.email}}<br />
        <h3>Skills <a href="{% url 'skill_create_url' %}" class="btn btn-primary">Add a New Skill</a></h3>
        
            {% for skill in member.skill_set.all %}
                <p>{{skill.category}}</p>
                {% empty %}
                <p>You do not have a skill! Would you like to <a href="{% url 'skill_create_url' %}">Add a New Skill</a>?</p>
            {% endfor %}
        <h3>Offers <a href="{% url 'offer_create_url' %}" class="btn btn-primary">Add a New Offer</a></h3>
            {% for offer in member.offer_set.all %}
                <p>{{offer.category}}</p>
                {% empty %}
                <p>You do not have an offer! Would you like to <a href="{% url 'skill_create_url' %}">Create a New Offer</a>?</p>
            {% endfor %}  
		
    </div>
</div>


<div class="clearfix"></div>




{% endblock %}