
<!DOCTYPE html>
<html>
<head>
    <title>{% block title %}{% endblock title %}</title>

    <script type="text/javascript" src="{{ STATIC_URL }}js/libs/jquery.js"></script>

    <link rel="stylesheet" href="//netdna.bootstrapcdn.com/bootstrap/3.1.1/css/bootstrap.min.css">
    <link rel="stylesheet" href="//netdna.bootstrapcdn.com/bootstrap/3.1.1/css/bootstrap-theme.min.css">
    <script src="//netdna.bootstrapcdn.com/bootstrap/3.1.1/js/bootstrap.min.js"></script>

    <link type="text/css" rel="stylesheet/less" href="{{ STATIC_URL }}css/style.less" />

    {% block extracss %}{% endblock extracss %}



    {% block extrajs %}{% endblock extrajs %}
</head>

<body>
    
    <div id="body" class="container">
        <div class="row">
            
        </div>

        <div id="mainNavTop" class="row">
            <div class="span12">
                {% if user.is_authenticated %}
                    Welcome <a href="{{ user.get_absolute_url }}">{{ user.get_full_name|default:"No Name" }}</a>!
                {% endif %}
            </div>
        </div>

        {% block content %}{% endblock content %}

        <div id="footer" class="row">
            <div class="span12">
                &copy; {% now "Y" %} Connector 
            </div>
        </div>
    </div>
</body>
</html>
