{% extends "base.html" %}
{% load filters %}
{% load static %}
{% load avatar_tags %}

{% block extrajs %}
<script type="text/javascript" src="{% static 'js/libs/amazon_scroller.js' %}"></script>
<script type="text/javascript" src="chrome-extension://bmdblncegkenkacieihfhpjfppoconhi/in-page-script.js"></script>

<script>
	// initalize the slider for this page
	$(function() {
	    $("#related_offer_matches").amazon_scroller({
	        scroller_title_show: 'enable',
	        scroller_time_interval: '8000',
	        scroller_window_background_color: "none",
	        scroller_window_padding: '10',
	        scroller_border_size: '2',
	        scroller_border_color: '#00820a',
	        scroller_images_width: '100',
	        scroller_images_height: '100',
	        scroller_title_size: '18',
	        scroller_title_color: 'black',
	        scroller_show_count: '6',
	        directory: 'images'
	    });
	});
</script>
{% endblock %}

{% block extracss %}
<link type="text/css" rel="stylesheet" href="{% static 'css/amazon_scroller.css' %}" />
{% endblock %}

{% block content %}

{% if user|can_edit_offer:offer %}<a href="{% url 'offer_update_url' offer.pk %}">Edit</a>{% endif %}
<div class="row">
	<h1>{{offer.title}}</h1>
</div>

  <div class="row">
    <div class="col-md-8">
     	<h2>Job Description</h2>
		<p class="lead">{{offer.description}}</p>
		<h2>Time commitment</h2>
		<p>{{offer.time}}</p>
    </div>
    <div class="col-md-4">
    	<h2>Job Overview</h2>
      	<dl class="dl-horizontal">
      		
      		<dt>Posted</dt>
			<dd>{{offer.date_posted}}</dd>
      		<dt>Cateogory</dt>
			<dd>{{offer.category}}</dd>
			<dt>Organization</dt>
			<dd>{{offer.get_organization}}</dd>
			<dt>Tags</dt>
			<dd>
			{% for tag in offer.tags.all %}
				<a href="{{tag.get_offer_url}}">{{tag.name}}</a>
			{% endfor %}
			</dd>			<dt>Posted by</dt>
			<dd><a href="{%url 'profile_url' offer.member.user.pk%}">{{offer.member}}</a></dd>
			<dt>Contact</dt>
			<dd><a href="mailto:{{offer.contact_email}}">Contact now!</a></dd>
		</dl>
    </div>
  </div>
  
{% if user == offer.member.user %}

	<div id="related_offer_matches" class="amazon_scroller">
		<div class="amazon_scroller_mask">
			<ul>
				{% for curSkill in offer.get_related %} <!--- get all offers -->
					<li><a href="{%url 'profile_url' curSkill.member.user.pk%}" title="{{curSkill.member}}">{% avatar curSkill.member.user 100 %}</a></li>
				{% endfor %}
			</ul>
		</div>

		<ul class="amazon_scroller_nav">
			<li></li>
			<li></li>
		</ul>
		
	</div>
		
	<div class="container">
		<p> See full <a href="{% url 'skill_related_url' offer.pk %}">list of matches</a>!</p>
	</div>
{% endif %}

{% endblock %}